{% extends 'layout.twig' %}

{% block title %}Профиль {{ user.nickname }}{% endblock %}

{% block head %}<h1>{{ user.nickname }} <a class="alignright" href="/user-auth/">выйти</a></h1> {% endblock %}

{% block body %}
    <div class="content">
        <h1>Проекты</h1>
        <div class="pure-g">
            {% for project in projects %}
                <div class="pure-u-1">
                    <h2><a href="/projects/{{ project.id}}">{{ project.title}}</a></h2>
                    <p>{{ project.desc }}</p>
                    <p><a href="/projects/{{ project.id}}">узнать больше</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}